# Ambiente virtual do Python
.venv
env
venv

# Dependências do frontend
frontend/node_modules
frontend/.pnp
.pnp.js
.yarn/install-state.gz

# Arquivos de cobertura de testes
/coverage

# Diretórios de build do Next.js
/.next/
/out/

# Diretórios de build de produção
/build

# Diretórios de cache do frontend
frontend/.cache
frontend/.next
frontend/.out
frontend/.parcel-cache
frontend/.vercel
frontend/.netlify

# Arquivos diversos
.DS_Store
*.pem

# Logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de cache do sistema
*.swp
*.swo

# Arquivos de configuração do sistema
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de lock do pip
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de lock do npm/yarn
package-lock.json
yarn.lock